/* GENERAL */
html, body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", verdana, sans-serif;
}
div {
	box-sizing: border-box;
}
.aligncenter {
	text-align: center;
}
.hidden {
	display: none !important;
}

/* HEADER */
header {
	background-color: #D68400;
	min-height: 120px;
	line-height: 30px;
	padding: 10px 40px;
	color: #ffffff;
}
header h1, header a {
	font-size: 96px;
	margin: 10px 0 0;
	line-height: 90px;
	color: white;
	text-decoration: none;
}
header h4 {
	margin: 0 0 20px 365px;
}
#user-form-container {
	width: 100%;
	background-color: #845200;
	line-height: 60px;
	padding: 20px 0;
}
#user-form-container form {
	margin: 0;
	text-align: center;
}
#user-form-container input {
	width: 90%;
	height: 40px;
	font-size: 24px;
	line-height: 40px;
	border: none;
	text-align: left;
	padding: 10px 5px;
}
/* USER INFO */
#user-info {
	width: 30%;
	margin: 20px 5%;
	padding: 5px;
	float: left;
	background-color: #72048D;
	color: #ffffff;
}
#user-info .info-line {
	padding: 10px 5px;
}
#user-info h2 {
	margin: 0;
}
#user-info h3 {
	padding: 10px;
}
#user-info h3 a {
	color: #d60000;
	font-weight: bold;
	text-decoration: none;
}
#user-info h3 a:hover {
	text-decoration: underline;
}
.danger-quotient {
	font-size: 180px;
	text-align: center;
	padding: 10px 0;
	color: #9839AF;
	font-weight: bold;
}
.danger-quotient h2 {
	font-size: 40px;
}

/* MATCHED CRIME LIST */
#matched-crimes {
	width: 50%;
	margin: 20px 5%;
	float: left;
}

article {
	overflow: hidden;
	padding: 5px;
	margin: 5px 0;
	background-color: #d60000;
	color: #ffffff;
}

article .field-title, article .field-value {
	padding: 5px;
	float: left;
	line-height: 18px;
	box-sizing: border-box;
}

article .field-title {
	width: 30%;
	font-weight: bold;`
}

article .field-value {
	width: 70%;
}

/* SPINNER */
#spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.95);
	display: table;
}
#spinner-container .spinner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#spinner-container .spinner img {
	width: 75%;
}